@import './imports/reset.css';
@import './imports/page01.css';
@import './imports/page02.css';
@import './imports/page03.css';


body {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.container {
background: white;
border-radius: 40px;
text-align: center;
display: flex;
justify-content: center;
height: 100vh;
flex-direction: column;
align-items: center;
}

.image-banner {
position: absolute;
width: 300px;
height: 300px;
left: 40px;
top: 34px;
}

h2 {
    align-items: center;
    font-size: 24px;
    left: 50px;
    top: 341px;
    display: flex;
    justify-content: center;
}

p {
    align-items: center;
    font-size: 1.1em;
    width: 299px;
    height: 46px;
    left: 37px;
    top: 398px;
    display:  flex;
}

.button-continue {
    background: #92E3A9;
    margin-top: 40px;
    cursor: pointer;  
    align-items: center;
    text-decoration: none;
    text-align: center;
    width: 308px;
    height: 54px;
    color: #FFF; 
    box-shadow: 0px 4px 10px #A1C3FC;
    border: none;  
}

.button-skip {
    color: #92e3a9;
    background: transparent;
    width: 38px;
    height: 23px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.91%;
    text-decoration: none;
    text-align: center;
}

.links-action {
    display: flex;
    flex-flow: column;
}

.links-action a:nth-child(2) {
    margin-top:30px;
}

.links-action a button {
    font-size: 18px;
}

.slide-page a {
    text-decoration: none;
}

.slide-page a i {
    font-size: 10px;
}

.slide-page a i.fa-solid {
    color: #92E3A9;
}

@media screen and (min-width: 768px) {
    .container {
        display: unset;
        height: 50vh;
    }

    .links-action a:nth-child(2) {
        margin-top:20px;
        margin-bottom: 30px;
    }
}